
# Local environment variables
.env*

# Secrets (e.g. keys)
service-account-key.json
serviceAccountKey.json
/src/lib/serviceAccountKey.json

# dependencies
/node_modules
/.pnp
.pnp.js

# debug
firebase-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and Production
/.next/
/out/
/build


# vercel
.vercel

# typescript
*.tsbuildinfo


# Testing
/coverage

# Other
.DS_Store
*.pem
