# Local environment variables
.env*

# Service account keys
service-account-key.json
serviceAccountKey.json
/src/lib/serviceAccountKey.json

# Node dependencies
/node_modules

# Build output
/.next/
/out/

# Other
.DS_Store
*.pem
